#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.message {
  border-radius: 5px;
  padding: 0.5em;
  --message-color-ai: #d9dede;
  --message-color-user: #417d3b
}
.message.ai {
  margin-top: 15px;
  background-color: var(--message-color-ai);
  color: black;
  margin-right: 4em;
  margin-bottom: 15px;
}
.message.user{
  background-color:var(--message-color-user);
  color: white;
  margin-left: 4em;
}

.input-form{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.input-form input[type='text'] {
  margin-right: 1rem;
  flex-grow: 1;
  line-height: 2;
}

.input-form textarea{
  field-sizing: content;
  min-height:40px;
  max-height: 200px; /*stop expanding here then scroll instead*/
  
  width: 100%;
  resize: none;           
  padding: 10px;
  font-family: inherit;
  
}
.heading {
  margin-top: 5em;
}
.input-form input[type='text']
.message
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  text-align: left; /* OVERRIDE the root center alignment */
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
